@import "~antd/dist/antd.css";
/* src/css/index.css */
/* General styles & resets */
html,
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font: 1rem -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Layout styles */
.app {
  text-align: center;
}

/* Navbar styles */

.navbar {
  width: 30%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  padding-top: 20px;
}
/*Calendar Styles*/
.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;

  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}

.userContainer {
  width: 30%;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 5px #888;
  margin: auto;
  border-radius: 5px;
  margin-top: 50px;
}

/*User List Styles*/
.usersList {
  margin: auto;
  padding: 10px 0 10px 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.usersList:nth-child(1) {
  padding-top: 20px;
}
.usersList:nth-last-child(1) {
  padding-bottom: 20px;
}
.usersList:hover {
  cursor: pointer;
  background-color: #fafafa;
}

@media screen and (max-width: 672px) {
  .userContainer {
    width: 90%;
  }
  .modalwrapper {
    width: 90% !important;
  }
}
